---
const buttons = [
    { alignRight: true, label: "</>", url: "https://github.com/phantomeye1931/phantomeye1931.github.io"},
    { alignRight: true, label: "WEBLOG", url: "/#weblog"},
    { alignRight: true, label: "PROJECTS",  url: "/#projects"},
    { alignRight: true, label: "ART",  url: "/#art"},
    { alignRight: true, label: "sync",  url: "javascript:void(0)", behavior: "toggle-dark-mode"},
]
---

<div class="buttons">
    {
        buttons.map((button) => (
            <a href={button.url} class=`link font-dotmatrix ${button.behavior}` >[{button.label}]</a>
        ))
    }
</div>

<script>
    $("a.toggle-dark-mode")
        .text(`[${getColorScheme()}]`)
        .on("click", function() {
            console.log("Currently:", localStorage.getItem("color-scheme"));

            $(this).text(`[${window.cycleColorScheme()}]`);
        }
    );
</script>

<style scoped>
    .buttons {
        position: fixed;
        box-sizing: border-box;
        z-index: 2000;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;

        width: 100%;

        color: var(--col-element);
        font-size: 1.3em;

        padding: 1rem;
        gap: 1rem;

        a.link {
            all: unset;
            cursor: pointer;
            text-decoration: none;
            background-color: var(--col-background);

            &:hover {
                text-decoration: underline;
            }
        }
    }
</style>