---
const buttons = [
    { alignRight: true, label: "</>", url: "https://github.com/phantomeye1931/phantomeye1931.github.io"},
    { alignRight: true, label: "sync",  url: "javascript:void(0)", behavior: "toggle-dark-mode"},
]

interface Props {
    all: boolean,
}
const props = Astro.props;

if (Astro.props.all) {
    buttons.push(
        { alignRight: true, label: "WEBLOG", url: "/#weblog"},
        { alignRight: true, label: "PROJECTS",  url: "/#projects"},
        { alignRight: true, label: "ART",  url: "/#art"},
    )
} else {
    buttons.push(
        { alignRight: true, label: "BACK TO TOP", url: "#"}
    )
}
---

<div class="buttons">
    {
        buttons.map((button) => (
            <a href={button.url} class=`link font-dotmatrix ${button.behavior}` >[{button.label}]</a>
        ))
    }
</div>

<script>
    const $buttonsDiv = $(".buttons");

    window.addEventListener("scroll", () => {
        $buttonsDiv.toggleClass("is-scrolled", window.scrollY > 0);
        console.log(window.scrollY)
    });

    $("a.toggle-dark-mode")
        .text(`[${getColorScheme()}]`)
        .on("click", function() {
            console.log("Currently:", localStorage.getItem("color-scheme"));

            $(this).text(`[${window.cycleColorScheme()}]`);
        }
    );
</script>

<style scoped>
    .buttons {
        position: fixed;
        box-sizing: border-box;
        z-index: 2000;
        width: fit-content;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;

        color: var(--col-element);
        background-color: var(--col-background);
        border: 1px solid transparent;
        transition: border 100ms;

        font-size: 1.3em;
        margin: .3rem;
        padding: .2rem .4rem;
        gap: 1rem;
        top: 0;
        right: 0;

        a.link {
            all: unset;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .is-scrolled {
        border: 1px solid var(--col-text-2);
    }
</style>